<div class="text-center">
  <br>
  <h2>Learn Kanji with us!</h2>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget lacus lacus. 
    Nullam egestas augue quis tincidunt lobortis. Aliquam vestibulum nisl nisi, ac pharetra 
    nulla pellentesque vel. Cras suscipit tempor mollis. Pellentesque non erat sit amet ante 
    auctor consectetur. Quisque eget fringilla lectus, id pulvinar lectus. Nam volutpat, leo 
    sed mattis semper, lacus ante ornare diam, feugiat placerat enim velit ut ipsum. Quisque 
    rhoncus semper mi eget tempor. Vivamus finibus, orci sed mattis mattis, eros enim 
    consectetur nunc, nec egestas diam ipsum sit amet ipsum. Nunc porta venenatis pellentesque. 
    Cras ut elementum est. Nulla eget massa ultrices, aliquet justo sed, malesuada est. Aenean 
    volutpat sapien urna, sed mollis libero tincidunt sed. Sed congue at metus id luctus. In at 
    molestie nisl. Sed sit amet urna ac elit congue euismod sed in mi.
  </p>
  <br>
  <button class="btn btn-kanben">Know a little more!</button>
  <hr>
  <h3>Interested? Join our community!</h3>
  <div class="container sign-up jumbotron">
    <h4>Sign Up for Kanben!</h4>
    <form class="form-group" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
      <input class="form-control" type="text" placeholder="Your e-mail address" name="email"
      email ngModel><br>
      <input class="form-control" type="text" placeholder="Your new username" name="username"
      ngModel><br>
      <input class="form-control" type="password" placeholder="Your new password" name="password"
      password ngModel><br>
      <input class="form-control" type="password" placeholder="Repeat your password"
      name="passCheck" ngModel>
      <span class="text-danger" *ngIf="!matchingPasswords">The passwords do not match!</span>
      <br>
      <button class="btn btn-signup" type="submit">Sign Up!</button>
      <br>
    </form>
    <a [routerLink]="['../login']">Already have an account? Log In clicking here!</a>
  </div>
</div>