<div class="text-center kanben-intro">
  <br>
  <h2>Learn Kanji with us!</h2>
  <br>
  <h4>Kanben is a platform and database to help you study Japanese kanji!</h4>
  <br>
  <h5>
    Kanben has the biggest JLPT-oriented database and algorithm-generated mock tests, so you'll
    never repeat a test as you can also put your language into unlimited practice.
  </h5>
  <br>
  <a class="btn btn-kanben" [routerLink]="['../about']">Know a little more!</a>
  <hr>
  <h3>What are you waiting for? Join our community!</h3>
  <app-signup></app-signup>
</div>