<div class="text-center">
  <br>
  <h2>Learn Kanji with us!</h2>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget lacus lacus. 
    Nullam egestas augue quis tincidunt lobortis. Aliquam vestibulum nisl nisi, ac pharetra 
    nulla pellentesque vel. Cras suscipit tempor mollis. Pellentesque non erat sit amet ante 
    auctor consectetur. Quisque eget fringilla lectus, id pulvinar lectus. Nam volutpat, leo 
    sed mattis semper, lacus ante ornare diam, feugiat placerat enim velit ut ipsum. Quisque 
    rhoncus semper mi eget tempor. Vivamus finibus, orci sed mattis mattis, eros enim 
    consectetur nunc, nec egestas diam ipsum sit amet ipsum. Nunc porta venenatis pellentesque. 
    Cras ut elementum est. Nulla eget massa ultrices, aliquet justo sed, malesuada est. Aenean 
    volutpat sapien urna, sed mollis libero tincidunt sed. Sed congue at metus id luctus. In at 
    molestie nisl. Sed sit amet urna ac elit congue euismod sed in mi.
  </p>
  <br>
  <a class="btn btn-kanben" [routerLink]="['../about']">Know a little more!</a>
  <hr>
  <h3>Interested? Join our community!</h3>
  <app-signup></app-signup>
</div>