.btn-kanben {
  color: #D3E6A5;
  background-color: #BD3B1B
}

.btn-kanben:hover {
  background-color: lighten(#BD3B1B, 10%);
}

.sign-up {
  background-color: #D3D0D0;
}

.btn-signup {
  background-color:  rgb(116, 148, 42);
  color: white;
}

.kanben-intro {
  margin-top: 20px;
}