<!-- <br>
<div class="container">
  <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">Here we will place something else</div>
          <div class="col-md-3">
            <div class="jumbotron">
              <div class="container">
                    <div class="row">
                      {{ dailyKanji.kanji }}
                    </div>
                  <hr>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-2">Here we will place our announcements</div>
  </div>
</div> -->
<div *ngIf="logged; else: notLogged">
  <app-logged [dailyKanji]="dailyKanji"></app-logged>
</div>
<ng-template #notLogged>
  <app-not-logged [dailyKanji]="dailyKanji"></app-not-logged>
</ng-template>