.daily-kanji {
  font-size: 150px;
  text-align: center;
}

.kanji-details {
  font-size: 20px;
}

.border-right {
  border: 0px;
  height: 100%;
  border-right: 1px;
  border-style: solid;
  border-color: black;
}