.kanji {
  text-align: center;
  margin-top: 5%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.displayed-kanji {
  font-size: 1000%;
}

.border-left {
  border: 0px;
  height: 100%;
  border-left: 1px;
  border-style: solid;
  border-color: black;
}

.dot {
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
  display: inline-block;
}

.jumbotron {
  margin-top: 20px;
}

.studied-kanji {
  background-color: #D3E6A5;
}

.not-studied {
  background-color: #BD3B1B;
}

.btn-study {
  background-color: #D3E6A5;
  color: #BD3B1B;
  margin-bottom: 10px;
}

.btn-study:hover {
  background-color: #BD3B1B;
  color: #D3E6A5;
  margin-bottom: 10px;
}

.text-centered {
  padding-bottom: 10px;
}

.predicting-footer {
  margin-bottom: 5%;
}