.kanji {
  text-align: center;
  margin-top: 5%;
  font-size: 1000%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.border-left {
  border: 0px;
  height: 100%;
  border-left: 1px;
  border-style: solid;
  border-color: black;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.jumbotron {
  margin-top: 20px;
}

.studied-kanji {
  background-color: #D3E6A5;
}

.not-studied {
  background-color: #BD3B1B;
}