<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="container jumbotron login-container text-center">
      <h4 class="text-center">Log into Kanben!</h4><br>
      <div *ngIf="!loading; else: load">
        <form class="form-group" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <input class="form-control" placeholder="e-mail" type="text" ngModel name="email"><br>
          <input class="form-control" placeholder="Password" type="password" ngModel name="password">
          <br>
          <span class="text-danger text-center" *ngIf="failed">{{errormsg}}</span>
          <div class="row">
            <div class="col-md text-center">
              <button class="btn btn-login" type="submit">Submit</button>
            </div>
            <div class="col-md text-center">
              <button class="btn btn-leave" type="button" (click)="location.back()">Go back</button>
            </div>
          </div>
        </form>
      </div>
      <br>
      <a [routerLink]="['../signup']">Don't have an account? Create one right here!</a>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<ng-template #load>
  <div class="spinner-border text-secondary text-center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>